.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  min-height: 100vh;
  max-width: var(--max-width);
  margin: 0 auto;
}

.firstList {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
}

.secondList {
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 2rem;
  justify-items: center;
  align-items: stretch;
  width: 100%;
  max-width: 100%;
  border-radius: 5px;
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .main {
    padding: 10px;
    max-width: var(--max-width-header-mobile);
  }

  .firstList {
    width: 100%;
  }

  .secondList {
    grid-gap: 10px;
  }
}

/* Mobile */
@media (max-width: 700px) {
  .main {
    padding: 20px;
  }

  .firstList {
    flex-direction: column;
    justify-content: center;
  }

  .secondList {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
