.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  text-align: center;
}

.title {
  font-size: 20px;
  color: var(--color-tertiary);
  font-weight: 600;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.list li a {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.list li a img {
  width: 100%;
  max-width: 200px;
  margin-bottom: 1rem;
}

.btnComprar {
  cursor: pointer;
  transition: 0.2s;
  border: 0;
  border-radius: 0.5rem;
  background: var(--color-secondary);

  color: #fffdfd;
  font-size: 1.1rem;
  text-shadow: #000 1px 1px 2px;
  font-weight: 700;

  min-width: 200px;
  padding: 0.7rem 1rem;
  letter-spacing: 0.5px;
}

.btnComprar:hover {
  background: var(--color-primary);
}

.site {
  color: var(--color-tertiary);
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 300px;
    padding: 10px;
  }

  .list {
    width: 100%;
    max-width: 300px;
  }
}
