.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  padding: 1rem;
  text-align: center;
}

.list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.list li {
  padding: 1rem;
}

.logoPlataform {
  width: 100%;
  padding: 1rem;
  font-size: 2rem;
}

.btnComprar {
  cursor: pointer;
  padding: 1rem;
  border: 0;
  border-radius: 0.5rem;
  background: #068d01;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.2s;
}

.btnComprar:hover {
  background: #0baf06;
  color: #ffffff;
}

.iconStore {
  color: var(--color-tertiary);
}

.site {
  color: var(--color-tertiary);
  font-size: 14px;
}

@media screen and (max-width: 700px) {
  .container {
    max-width: 300px;
    padding: 10px;
  }

  .list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 300px;
  }

  .list li {
    padding: 5px;
    padding-left: 0;
    margin-left: 0;
  }

  .logoPlataform {
    padding: 5px;
    font-size: 1.5rem;
  }

  .btnComprar {
    padding: 8px 3px 3px 3px;
    font-size: 10px;
  }
}
