.form {
  display: flex;
  flex-direction: column;
}

.input {
  display: block;
  outline: none;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #222;
  padding: 4px 10px;
  border-radius: 5px;
}

.error {
  color: red;
  font-size: 12px;
  font-weight: 500;
  margin-bottom: 10px;
  max-width: 450px;
  letter-spacing: 0.8px;
}
