.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  padding: 20px;
  border-radius: 5px;
}

.form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: 0px none transparent;
}
.form input:hover {
  border-color: var(--color-hover);
}

.form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  outline: 0px none transparent;
}
.form textarea:hover {
  border-color: var(--color-hover);
}

.button {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: var(--color-primary);
  color: #333;
  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin-top: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  background-color: var(--color-hover);
}

.button * {
  margin-left: 10px;
}

.spiner {
  animation: rotateAnimation 1s linear infinite;
}

.textEmail {
  font-size: 12px;
  font-weight: 500;
  color: #666;
  line-height: 1.5rem;
  letter-spacing: 0.8px;
  max-width: 540px;
}

.email {
  color: var(--color-tertiary);
  font-size: 14px;
  font-weight: 500;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 701px) {
  .form {
    width: 100%;
    min-width: 350px;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
  }

  .textEmail {
    max-width: 100%;
    font-size: 10px;
  }

  .email {
    color: var(--color-tertiary);
    font-size: 10px;
    font-weight: 500;
  }
}
